:root{
    --sidebar-width: 320px;
}

body {
    background-color: #222;
}

.golden {
    color: gold !important;
}

/********** Game Start **********/

@keyframes game-start-background-animation {
    from { background-position: 0 0; }
    to   { background-position: -100000px 0; }
}

@keyframes drogon-idle-sprite { 
    from { background-position-x:    0px; }
    to { background-position-x: -1000px; } 
}

@keyframes drogon-dead-sprite { 
    from { background-position-x:    0px; }
    to { background-position-x: -900px; } 
}

@keyframes golem-idle-sprite { 
    from { background-position-x:    0px; }
    to { background-position-x: -1000px; } 
}

@keyframes golem-dead-sprite { 
    from { background-position-x:    0px; }
    to { background-position-x: -1125px; } 
}

@keyframes skeleton-idle-sprite { 
    from { background-position-x:    0px; }
    to { background-position-x: -1000px; } 
}

@keyframes skeleton-dead-sprite { 
    from { background-position-x:    0px; }
    to { background-position-x: -1071px; } 
}

@keyframes bow{
    0% {transform: translate(0,85vh);}
  50% {transform: translate(70vw,85vh);}
  100% {transform: translate(0,85vh);}
}

@keyframes arrow{
    0% {transform: translate(0,0);}
    50% {transform: translate(0,-100vh);}
    100% {transform: translate(0,0);}
}


#row{
    animation-name: arrow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-play-state: paused;
}

.pokeball{
    animation-name: bow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-play-state: paused;
}

#catch-game-area .game-catch-background {
    background-image: url("img/catch-background.png");
    background-repeat: repeat;
    background-size: auto 100%;
    image-rendering: pixelated;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

#game-start .game-start-background {
    background-image: url("img/bg-game-start.jpg");
    background-size: auto 115%;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    image-rendering: pixelated;
    animation-name: game-start-background-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1200s;
    position: absolute;
    top: 0;
    z-index: -1;
}

#game-start > * {
    position: absolute;
}

#game-start h1 {
    font-size: 300%;
    margin-top: 5vh;
}

#game-start h2 {
    margin-top: 20vh;
}

#game-start input {
    width: 50vw;
    margin: 5vh auto;
    display: block;
}

#game-start button {
    width: 50vw;
    margin: 5vh auto;
    display: block;
}

#first-play-container {
    display: none;
}

#continue-play-container {
    display: none;
}

#game-instruction > .rpgui-container {
    margin-top: 10%;
    height: 60%;
    overflow: scroll;
}

#game-instruction button {
    margin-left: 10%;
    width: 30%;
}

/********** Main Game **********/

#main-game {
}

#sidebar {
    height: 100vh;
}

#small-sidebar {
    height: 184px;
    position: relative;
}

#small-sidebar .rpgui-button.golden {
    width: 100%
}

#sidebar .rpgui-button.golden {
    width: 80%;
}

.game-area {
    height: 100vh;
}

.game-area > .rpgui-container {
    position: inherit;
    width: 100%;
}

.drogon-idle {
    background-image: url('img/drogon-idle-l.png');
    width: 100px;
    height: 100px;
    animation: 0.6s steps(10, end) 0s infinite normal none running drogon-idle-sprite;
}

.drogon-dead {
    background-image: url('img/drogon-dead-l.png');
    width: 100px;
    height: 120px;
    margin-top: -10px;
    animation: 0.6s steps(9, start) 0s 1 normal forwards paused drogon-dead-sprite;
}

.golem-idle {
    background-image: url('img/golem-idle-l.png');
    width: 100px;
    height: 100px;
    animation: 0.6s steps(10, end) 0s infinite normal none running golem-idle-sprite;
}

.golem-dead {
    background-image: url('img/golem-dead-l.png');
    width: 125px;
    height: 100px;
    margin-left: -12px;
    animation: 0.6s steps(9, start) 0s 1 normal forwards paused golem-dead-sprite;
}

.skeleton-idle {
    background-image: url('img/skeleton-idle-l.png');
    width: 100px;
    height: 100px;
    animation: 0.6s steps(10, end) 0s infinite normal none running skeleton-idle-sprite;
}

.skeleton-dead {
    background-image: url('img/skeleton-dead-l.png');
    width: 119px;
    height: 119px;
    margin-left: -6px;
    animation: 0.6s steps(9, start) 0s 1 normal forwards paused skeleton-dead-sprite;
}

.rpgui-progress-fill {
    transition: width 2s ease 0s;
}

#home-game-area .home-container {
    height: 60vh;
    overflow-y: scroll;
}

#home-game-area .message-container {
    height: 40vh;
    overflow-y: scroll;
    padding: 15px;
}

.home-container .empty-slot {
    height: 110px;
    width: 110px;
}

.empty-heart {
    background-image: url('img/empty-heart.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.heart {
    background-image: url('img/heart.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.wild-monster {
    position: absolute;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color: rgba(111, 110, 110, 0.8);
}

.overlay header {
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
}

.overlay header h1 {
    color: gold;
    font-size: 50px;
}

.overlay header h2 {
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
    #small-sidebar {
        display: block;
    }
    #main-game {
        height: 100vh;
        overflow-y: scroll;
    }
    #home-game-area .home-container {
        height: 460px;
        overflow-y: hidden;
    }
    #home-game-area .message-container {
        height: 360px;
        padding: 15px;
        overflow-y: hidden;
    }

    .modal-dialog {
        position: absolute;
        top: 0;
        left: 10vw;
        z-index: 10;
        width: 80vw;
    }
}

@media only screen and (min-width: 768px) {
    #sidebar {
        display: block;
    }
    #small-sidebar {
        display: none;
    }

    .modal-dialog {
        position: absolute;
        top: 0;
        left: 30%;
        z-index: 10;
        width: 400px;
    }
}

/********** Fix **********/

.rpgui-button.golden p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}